@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
  background: #fff;
  box-shadow: 0px 10 px 20 px rgba(0,0,0,0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

h3,p{
  margin: 0;
}

.price {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  color: rgba(0, 0, 0, 0.56);
/* identical to box height */
}

.cart {
width: 57.97px;
height: 39.15px;

padding-top: 8.64px

}


.line1{
  /* Line 16 */

position: absolute;
width: 1080px;
height: 0px;

top: 150px;

border: 1px solid rgba(0, 0, 0, 0.35);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
